In [ ]:
df.to_csv("/Users/winifred/Documents/NHS-Wait-Time-Analysis/Data/Cleaned/nhs_ae_cleaned.csv", index=False)

In [57]:
df.head()

,Provider_Code,Region,Trust Name,Type 1 A&E Attendances,Type 2 A&E Attendances,Type 3 A&E Attendances,Total A&E Attendances,Seen <4 Hours,Type 2 Seen <4 Hours,Type 3 Seen <4 Hours,...,Admissions >12hrs from Decision,Other Emergency Admissions,Total Emergency Admissions,Elective Admissions,Cancelled Elective Admissions,Delayed Transfers,Bed Days,Staff Shortages,Covid Admissions,Notes
0,RC9,NHS England East Of England,Bedfordshire Hospitals NHS Foundation Trust,17026,0,9599,26625,9553,0,9599,...,-,1,4678,0,0,4678,2325,7003,9,9
1,RGT,NHS England East Of England,Cambridge University Hospitals NHS Foundation ...,11282,0,6535,17817,6325,0,6400,...,-,0.979342,2764,0,35,2799,436,3235,1030,417
2,RWH,NHS England East Of England,East And North Hertfordshire NHS Trust,9225,0,8769,17994,4618,0,8660,...,-,0.98757,2849,0,3,2852,228,3080,407,170
3,RDE,NHS England East Of England,East Suffolk And North Essex NHS Foundation Trust,13117,0,15563,28680,7469,0,15008,...,-,0.964338,6306,0,386,6692,1212,7904,1709,733
4,RY4,NHS England East Of England,Hertfordshire Community NHS Trust,0,0,1223,1223,0,0,1185,...,-,0.968929,0,0,0,0,0,0,0,0

In [56]:
# Drop first row of NaNs
df = df.drop(index=0).reset_index(drop=True)

# Drop the 'Comments' column
df = df.drop(columns=['Comments'])

In [55]:
df.head()

,Provider_Code,Region,Trust Name,Type 1 A&E Attendances,Type 2 A&E Attendances,Type 3 A&E Attendances,Total A&E Attendances,Seen <4 Hours,Type 2 Seen <4 Hours,Type 3 Seen <4 Hours,...,Other Emergency Admissions,Total Emergency Admissions,Elective Admissions,Cancelled Elective Admissions,Delayed Transfers,Bed Days,Staff Shortages,Covid Admissions,Notes,Comments
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RC9,NHS England East Of England,Bedfordshire Hospitals NHS Foundation Trust,17026,0,9599,26625,9553,0,9599,...,1,4678,0,0,4678,2325,7003,9,9,"NHS Bedfordshire, Luton And Milton Keynes Inte..."
2,RGT,NHS England East Of England,Cambridge University Hospitals NHS Foundation ...,11282,0,6535,17817,6325,0,6400,...,0.979342,2764,0,35,2799,436,3235,1030,417,NHS Cambridgeshire And Peterborough Integrated...
3,RWH,NHS England East Of England,East And North Hertfordshire NHS Trust,9225,0,8769,17994,4618,0,8660,...,0.98757,2849,0,3,2852,228,3080,407,170,NHS Hertfordshire And West Essex Integrated Ca...
4,RDE,NHS England East Of England,East Suffolk And North Essex NHS Foundation Trust,13117,0,15563,28680,7469,0,15008,...,0.964338,6306,0,386,6692,1212,7904,1709,733,NHS Suffolk And North East Essex Integrated Ca...

In [54]:
df.rename(columns={
    'Unnamed: 1': 'Provider_Code',
    'Unnamed: 2': 'Region',
    'Unnamed: 3': 'Trust Name',
    'A&E attendances': 'Type 1 A&E Attendances',
    'Unnamed: 5': 'Type 2 A&E Attendances',
    'Unnamed: 6': 'Type 3 A&E Attendances',
    'Unnamed: 7': 'Total A&E Attendances',
    'A&E attendances less than 4 hours from arrival to admission, transfer or discharge': 'Seen <4 Hours',
    'Unnamed: 9': 'Type 2 Seen <4 Hours',
    'Unnamed: 10': 'Type 3 Seen <4 Hours',
    'Unnamed: 11': '>4hrs from Arrival',
    'Unnamed: 13': 'Type 1 Admissions',
    'Unnamed: 14': 'Type 2 Admissions',
    'Unnamed: 15': 'Type 3 Admissions',
    'Percentage of attendances within 4 hours': '% Seen <4 Hours',
    'Unnamed: 17': 'Admissions >4hrs from Decision',
    'Unnamed: 18': 'Admissions >12hrs from Decision',
    'Unnamed: 19': 'Other Emergency Admissions',
    'Emergency Admissions': 'Total Emergency Admissions',
    'Unnamed: 21': 'Elective Admissions',
    'Unnamed: 22': 'Cancelled Elective Admissions',
    'Unnamed: 23': 'Delayed Transfers',
    'Unnamed: 24': 'Bed Days',
    'Unnamed: 25': 'Staff Shortages',
    'Unnamed: 26': 'Covid Admissions',
    'Unnamed: 27': 'Notes',
    'Unnamed: 28': 'Comments'
}, inplace=True)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 28 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   Unnamed: 1                                                                             198 non-null    object
 1   Unnamed: 2                                                                             198 non-null    object
 2   Unnamed: 3                                                                             198 non-null    object
 3   A&E attendances                                                                        198 non-null    object
 4   Unnamed: 5                                                                             198 non-null    object
 5   Unnamed: 6                                                                             198 non-null    object
 6   Unnamed: 7                                                                             198 non-null    object
 7   A&E attendances less than 4 hours from arrival to admission, transfer or discharge     198 non-null    object
 8   Unnamed: 9                                                                             198 non-null    object
 9   Unnamed: 10                                                                            198 non-null    object
 10  Unnamed: 11                                                                            198 non-null    object
 11  A&E attendances greater than 4 hours from arrival to admission, transfer or discharge  198 non-null    object
 12  Unnamed: 13                                                                            198 non-null    object
 13  Unnamed: 14                                                                            198 non-null    object
 14  Unnamed: 15                                                                            198 non-null    object
 15  Percentage of attendances within 4 hours                                               198 non-null    object
 16  Unnamed: 17                                                                            198 non-null    object
 17  Unnamed: 18                                                                            198 non-null    object
 18  Unnamed: 19                                                                            198 non-null    object
 19  Emergency Admissions                                                                   198 non-null    object
 20  Unnamed: 21                                                                            198 non-null    object
 21  Unnamed: 22                                                                            198 non-null    object
 22  Unnamed: 23                                                                            198 non-null    object
 23  Unnamed: 24                                                                            198 non-null    object
 24  Unnamed: 25                                                                            198 non-null    object
 25  Unnamed: 26                                                                            198 non-null    object
 26  Unnamed: 27                                                                            198 non-null    object
 27  Unnamed: 28                                                                            198 non-null    object
dtypes: object(28)
memory usage: 46.7+ KB

In [47]:
# Preview the cleaned data
df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,A&E attendances,Unnamed: 5,Unnamed: 6,Unnamed: 7,"A&E attendances less than 4 hours from arrival to admission, transfer or discharge",Unnamed: 9,Unnamed: 10,...,Unnamed: 19,Emergency Admissions,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RC9,NHS England East Of England,Bedfordshire Hospitals NHS Foundation Trust,17026,0,9599,26625,9553,0,9599,...,1,4678,0,0,4678,2325,7003,9,9,"NHS Bedfordshire, Luton And Milton Keynes Inte..."
2,RGT,NHS England East Of England,Cambridge University Hospitals NHS Foundation ...,11282,0,6535,17817,6325,0,6400,...,0.979342,2764,0,35,2799,436,3235,1030,417,NHS Cambridgeshire And Peterborough Integrated...
3,RWH,NHS England East Of England,East And North Hertfordshire NHS Trust,9225,0,8769,17994,4618,0,8660,...,0.98757,2849,0,3,2852,228,3080,407,170,NHS Hertfordshire And West Essex Integrated Ca...
4,RDE,NHS England East Of England,East Suffolk And North Essex NHS Foundation Trust,13117,0,15563,28680,7469,0,15008,...,0.964338,6306,0,386,6692,1212,7904,1709,733,NHS Suffolk And North East Essex Integrated Ca...

In [46]:
# Reset the index
df.reset_index(drop=True, inplace=True)

In [45]:
# Drop columns that are entirely empty 
df = df.dropna(axis=1, how= 'all')

In [44]:
# Drop the first row

df = df.iloc[1:]

In [ ]:
df = pd.read_excel(file_path, sheet_name='Provider Level Data', skiprows=14)

df.head()

In [33]:
df = df.dropna(axis=0, how='all')  # drop rows that are all NaN

In [34]:
df = df.dropna(axis=1, how='all')  # drop columns that are all NaN

In [25]:
df = pd.read_excel(file_path, sheet_name='Provider Level Data', skiprows=15, header=1)

df.head()

,Unnamed: 0,-,-.1,England,1450686,51237,887141,2389064,883691,48929,...,0.967936,404354,1366,4569,410289,140840,551129,133957,46766,Unnamed: 28
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,RC9,NHS England East Of England,Bedfordshire Hospitals NHS Foundation Trust,17026.0,0.0,9599.0,26625.0,9553.0,0.0,...,1,4678.0,0.0,0.0,4678.0,2325.0,7003.0,9.0,9.0,"NHS Bedfordshire, Luton And Milton Keynes Inte..."
2,NaN,RGT,NHS England East Of England,Cambridge University Hospitals NHS Foundation ...,11282.0,0.0,6535.0,17817.0,6325.0,0.0,...,0.979342,2764.0,0.0,35.0,2799.0,436.0,3235.0,1030.0,417.0,NHS Cambridgeshire And Peterborough Integrated...
3,NaN,RWH,NHS England East Of England,East And North Hertfordshire NHS Trust,9225.0,0.0,8769.0,17994.0,4618.0,0.0,...,0.98757,2849.0,0.0,3.0,2852.0,228.0,3080.0,407.0,170.0,NHS Hertfordshire And West Essex Integrated Ca...
4,NaN,RDE,NHS England East Of England,East Suffolk And North Essex NHS Foundation Trust,13117.0,0.0,15563.0,28680.0,7469.0,0.0,...,0.964338,6306.0,0.0,386.0,6692.0,1212.0,7904.0,1709.0,733.0,NHS Suffolk And North East Essex Integrated Ca...

In [15]:
df = pd.read_excel(file_path, sheet_name='Provider Level Data',skiprows=14)

df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,A&E attendances,Unnamed: 5,Unnamed: 6,Unnamed: 7,"A&E attendances less than 4 hours from arrival to admission, transfer or discharge",Unnamed: 9,...,Unnamed: 19,Emergency Admissions,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,NaN,Code,Region,Name,Type 1 Departments - Major A&E,Type 2 Departments - Single Specialty,Type 3 Departments - Other A&E/Minor Injury Unit,Total attendances,Type 1 Departments - Major A&E,Type 2 Departments - Single Specialty,...,Percentage in 4 hours or less (type 3),Emergency Admissions via Type 1 A&E,Emergency Admissions via Type 2 A&E,Emergency Admissions via Type 3 and 4 A&E,Total Emergency Admissions via A&E,Other Emergency admissions (i.e not via A&E),Total Emergency Admissions,Number of patients spending >4 hours from deci...,Number of patients spending >12 hours from dec...,NaN
1,NaN,-,-,England,1450686,51237,887141,2389064,883691,48929,...,0.967936,404354,1366,4569,410289,140840,551129,133957,46766,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,RC9,NHS England East Of England,Bedfordshire Hospitals NHS Foundation Trust,17026,0,9599,26625,9553,0,...,1,4678,0,0,4678,2325,7003,9,9,"NHS Bedfordshire, Luton And Milton Keynes Inte..."
4,NaN,RGT,NHS England East Of England,Cambridge University Hospitals NHS Foundation ...,11282,0,6535,17817,6325,0,...,0.979342,2764,0,35,2799,436,3235,1030,417,NHS Cambridgeshire And Peterborough Integrated...

In [10]:
import pandas as pd

file_path ="/Users/winifred/Documents/NHS-Wait-Time-Analysis/Data/Raw/ae_wait_times_03_2025.xls"

xls = pd.ExcelFile(file_path)

xls.sheet_names

['System Level Data',
 'System Mapping',
 'Provider Level Data',
 'Non-Booked Data',
 'Booked Appointments Data',
 'Acute Trust Footprint Data',
 'Acute Trust Mapping']